<h1 align="center">Permutations</h1>

<h2>Changing to correct directory</h2>

In [1]:
import os
from pathlib import Path

os.chdir(Path.cwd().parent)
assert Path.cwd().name == "src" # make sure it is the correct folder

In [2]:
import pandas as pd
import random

import tournament_simulations.data_structures as ds
import tournament_simulations.schedules.permutation as pmt

In [3]:
from example_notebooks.matches_df_example import matches_df_permutations
matches = ds.Matches(matches_df_permutations)

matches.df

                 home   away winner
id date number
1  0                a      d      h
   0                b      c      d
   0                a      b      d
   1                c      b      a
   1                d      b      d
   2                c      a      a
   2                a      d      a
   3                b      c      h
2  0              one  three      d
   0              two    one      d
   1              two  three      a
   1              one    two      h
   2            three    two      h
   2            three    one      a

<h2>Permutations</h2>

> Permute matches in all tournaments

In [4]:
permutations = pmt.MatchesPermutations(matches)

In [5]:
random.seed(10)
pd.concat(
    [   # Need to rename to concat since ".create_n_permutations()" renames each iteration
        permutations.matches.df.rename(index=lambda id_: f"{id_}@0", level="id"), 
        permutations.create_n_permutations(1).df
    ], 
    keys=["original", "permuted"], 
    axis=1,
)

                original               permuted
                    home   away winner     home   away winner
id  date number
1@0 0                  a      d      h        b      c      h
    0                  b      c      d        a      d      a
    0                  a      b      d        c      b      a
    1                  c      b      a        d      b      d
    1                  d      b      d        a      b      d
    2                  c      a      a        b      c      d
    2                  a      d      a        a      d      h
    3                  b      c      h        c      a      a
2@0 0                one  three      d      two  three      a
    0                two    one      d      one    two      h
    1                two  three      a    three    one      a
    1                one    two      h      one  three      d
    2              three    two      h      two    one      d
    2              three    one      a    three    two      h

In [6]:
random.seed(1)
permutations.create_n_permutations(3).df

                  home   away winner
id  date number
1@0 0                a      d      h
    0                b      c      h
    0                c      b      a
    1                a      d      a
    1                b      c      d
    2                c      a      a
    2                d      b      d
    3                a      b      d
1@1 0                d      b      d
    0                c      b      a
    0                a      d      a
    1                a      b      d
    1                b      c      h
    2                c      a      a
    2                a      d      h
    3                b      c      d
1@2 0                c      b      a
    0                a      b      d
    0                a      d      a
    1                b      c      d
    1                d      b      d
    2                c      a      a
    2                a      d      h
    3                b      c      h
2@0 0              one  three      d
    0              one    two      h
    1              two  three      a
    1            three    two      h
    2            three    one      a
    2              two    one      d
2@1 0              one  three      d
    0              two    one      d
    1              two  three      a
    1            three    two      h
    2            three    one      a
    2              one    two      h
2@2 0              two    one      d
    0              one  three      d
    1            three    two      h
    1            three    one      a
    2              one    two      h
    2              two  three      a