<h1 align="center">Round Robin</h1>

<h2>Changing to correct directory</h2>

In [1]:
import os
from pathlib import Path

os.chdir(Path.cwd().parent)
assert Path.cwd().name == "src" # make sure it is the correct folder

In [2]:
import pandas as pd
import random

import tournament_simulations.schedules.round_robin as rr

<h2>Scheduling Algorithm</h2>

In [3]:
# Circle-Method
random.seed(1)

rr.generate_schedule(list(range(4)))

[((0, 3), (1, 2)), ((0, 2), (3, 1)), ((0, 1), (2, 3))]

<h2>Single Round-Robin</h2>

> All matches in a round have the same "date number"

In [4]:
random.seed(1)
single_rr = rr.SingleRoundRobin.from_num_teams(num_teams=5, randomize_teams=False)

random.seed(1)
# in this case teams are randomized
random_single_rr = rr.SingleRoundRobin.from_num_teams(num_teams=5)

print(single_rr.schedule, end="\n\n")
print(random_single_rr.schedule)

[((0, 3), (2, 1)), ((4, 1), (2, 3)), ((0, 2), (3, 4)), ((3, 1), (0, 4)), ((2, 4), (1, 0))]

[((4, 1), (3, 0)), ((1, 3), (4, 2)), ((1, 2), (4, 0)), ((0, 1), (3, 2)), ((4, 3), (0, 2))]

In [5]:
random.seed(1)
list(single_rr.get_full_schedule(2))

[((0, 2), (3, 4)),
 ((3, 1), (0, 4)),
 ((2, 4), (1, 0)),
 ((0, 3), (2, 1)),
 ((4, 1), (2, 3)),
 ((0, 3), (2, 1)),
 ((0, 2), (3, 4)),
 ((4, 1), (2, 3)),
 ((2, 4), (1, 0)),
 ((3, 1), (0, 4))]

In [6]:
random.seed(1)
teams = ["zero", "one", "two", "three", "four"]
schedule = list(single_rr.get_full_schedule(2))
list(rr.rename_teams_in_rounds(schedule, teams))

[(('zero', 'two'), ('three', 'four')),
 (('three', 'one'), ('zero', 'four')),
 (('two', 'four'), ('one', 'zero')),
 (('zero', 'three'), ('two', 'one')),
 (('four', 'one'), ('two', 'three')),
 (('zero', 'three'), ('two', 'one')),
 (('zero', 'two'), ('three', 'four')),
 (('four', 'one'), ('two', 'three')),
 (('two', 'four'), ('one', 'zero')),
 (('three', 'one'), ('zero', 'four'))]

In [7]:
original = rr.convert_list_of_rounds_to_dataframe(single_rr.schedule, "tournament")

random.seed(1)
schedule = list(single_rr.get_full_schedule(1, False))
not_randomized = rr.convert_list_of_rounds_to_dataframe(schedule, "tournament") 

random.seed(1)
schedule = list(single_rr.get_full_schedule(1))
randomized = rr.convert_list_of_rounds_to_dataframe(schedule, "tournament") 

# Notice that non-randomized has the same ordering as the original one
pd.concat([original, not_randomized, randomized], axis=1, keys=["original", "not random", "random"])

                       original      not random      random
                           home away       home away   home away
id         date number
tournament 0                  0    3          0    3      0    2
           0                  2    1          2    1      3    4
           1                  4    1          4    1      3    1
           1                  2    3          2    3      0    4
           2                  0    2          0    2      2    4
           2                  3    4          3    4      1    0
           3                  3    1          3    1      0    3
           3                  0    4          0    4      2    1
           4                  2    4          2    4      4    1
           4                  1    0          1    0      2    3

In [8]:
random.seed(1)

named_single_rr = rr.SingleRoundRobin.from_team_names(team_names=["a", "b", "c"])

# in this one the order from the second schedule is the same as the first one
print(list(named_single_rr.get_full_schedule(2, randomize_rounds=False)), end="\n\n")

# in this one the order from the second schedule is randomized
print(list(named_single_rr.get_full_schedule(2)))

[(('a', 'c'),), (('a', 'b'),), (('b', 'c'),), (('a', 'c'),), (('a', 'b'),), (('b', 'c'),)]

[(('b', 'c'),), (('a', 'b'),), (('a', 'c'),), (('b', 'c'),), (('a', 'c'),), (('a', 'b'),)]

<h2>Double Round-Robin</h2>

> All matches in a round have the same "date number"

In [9]:
random.seed(1)

random.seed(1)
double_rr = rr.DoubleRoundRobin.from_num_teams(num_teams=4, randomize_teams=False)

random.seed(1)
# in this case teams are randomized
random_double_rr = rr.DoubleRoundRobin.from_num_teams(num_teams=4)

# Second portion always have (home, away) flipped when compared to the first one
print(double_rr.first_schedule)
print(double_rr.second_schedule, end="\n\n")
print(random_double_rr.first_schedule)
print(random_double_rr.second_schedule)

[((2, 0), (1, 3)), ((0, 1), (3, 2)), ((0, 3), (2, 1))]
[((0, 2), (3, 1)), ((1, 0), (2, 3)), ((3, 0), (1, 2))]

[((0, 3), (1, 2)), ((1, 3), (2, 0)), ((2, 3), (1, 0))]
[((3, 0), (2, 1)), ((3, 1), (0, 2)), ((3, 2), (0, 1))]

In [10]:
random.seed(1)
# Everything is randomized here
list(double_rr.get_full_schedule(2))

[((0, 1), (3, 2)),
 ((0, 3), (2, 1)),
 ((2, 0), (1, 3)),
 ((0, 2), (3, 1)),
 ((1, 0), (2, 3)),
 ((3, 0), (1, 2)),
 ((2, 0), (1, 3)),
 ((0, 3), (2, 1)),
 ((0, 1), (3, 2)),
 ((0, 2), (3, 1)),
 ((1, 0), (2, 3)),
 ((3, 0), (1, 2))]

In [11]:
random.seed(2)

original = rr.convert_list_of_rounds_to_dataframe(double_rr.first_schedule + double_rr.second_schedule, "tournament")
non_random = rr.convert_list_of_rounds_to_dataframe(double_rr.get_full_schedule(1, randomize_first_rounds=False, randomize_second_rounds=False), "tournament") 
only_first_random = rr.convert_list_of_rounds_to_dataframe(double_rr.get_full_schedule(1, randomize_second_rounds=False), "tournament") 
only_second_random = rr.convert_list_of_rounds_to_dataframe(double_rr.get_full_schedule(1, randomize_first_rounds=False), "tournament") 
all_random = rr.convert_list_of_rounds_to_dataframe(double_rr.get_full_schedule(1), "tournament") 

# 1) No random is just a copy of the original (if there were more schedule it would just be contatenations of it)
# 2) When only first portion is randomized, the second portion still has the same order as it does
# 3) When second portion (date numbers [3, 4, 5]) is random, it doesn't have the same ordering as the first one
pd.concat([original, non_random, only_first_random, only_second_random, all_random], axis=1, keys=["original", "no random", "only first random", "only second random", "both random"])

                       original      no random      only first random       \
                           home away      home away              home away
id         date number
tournament 0                  2    0         2    0                 0    1
           0                  1    3         1    3                 3    2
           1                  0    1         0    1                 0    3
           1                  3    2         3    2                 2    1
           2                  0    3         0    3                 2    0
           2                  2    1         2    1                 1    3
           3                  0    2         0    2                 1    0
           3                  3    1         3    1                 2    3
           4                  1    0         1    0                 3    0
           4                  2    3         2    3                 1    2
           5                  3    0         3    0                 0    2
           5                  1    2         1    2                 3    1

                       only second random      both random
                                     home away        home away
id         date number
tournament 0                            2    0           0    3
           0                            1    3           2    1
           1                            0    1           0    1
           1                            3    2           3    2
           2                            0    3           2    0
           2                            2    1           1    3
           3                            3    0           0    2
           3                            1    2           3    1
           4                            1    0           3    0
           4                            2    3           1    2
           5                            0    2           1    0
           5                            3    1           2    3

In [12]:
random.seed(1)

named_double_rr = rr.DoubleRoundRobin.from_team_names(team_names=["a", "b", "c", "d"])

# In this case you can see that the first portion for both schedules is the same
# first portion first schedule  -> rounds 1, 2, 3
# first portion second schedule -> rounds 7, 8, 9
list(named_double_rr.get_full_schedule(2, randomize_first_rounds=False))

[(('a', 'd'), ('b', 'c')),
 (('b', 'd'), ('c', 'a')),
 (('c', 'd'), ('b', 'a')),
 (('d', 'c'), ('a', 'b')),
 (('d', 'a'), ('c', 'b')),
 (('d', 'b'), ('a', 'c')),
 (('a', 'd'), ('b', 'c')),
 (('b', 'd'), ('c', 'a')),
 (('c', 'd'), ('b', 'a')),
 (('d', 'b'), ('a', 'c')),
 (('d', 'a'), ('c', 'b')),
 (('d', 'c'), ('a', 'b'))]