<h1 align="center">Schedules</h1>

<h2>Changing to correct directory</h2>

In [1]:
import os
from pathlib import Path

os.chdir(Path.cwd().parent)
assert Path.cwd().name == "src" # make sure it is the correct folder

In [2]:
import numpy as np
import pandas as pd
import random

import data_structures as ds
import schedules.round_robin as rr

<h2>Single Round-Robin</h2>

> Each line is a Round

> All matches in a round have the same "date number"

In [3]:
random.seed(1)

single_rr = rr.SingleRoundRobin.from_num_teams(num_teams=5)
single_rr

SingleRoundRobin(num_teams=5, schedule=[((0, 3), (2, 1)), ((2, 4), (1, 0)), ((3, 1), (0, 4)), ((0, 2), (3, 4)), ((4, 1), (2, 3))])

In [4]:
random.seed(1)
list(single_rr.get_full_schedule(2))

[((3, 1), (0, 4)),
 ((0, 2), (3, 4)),
 ((4, 1), (2, 3)),
 ((0, 3), (2, 1)),
 ((2, 4), (1, 0)),
 ((0, 3), (2, 1)),
 ((3, 1), (0, 4)),
 ((2, 4), (1, 0)),
 ((4, 1), (2, 3)),
 ((0, 2), (3, 4))]

In [5]:
random.seed(1)

schedule = single_rr.get_full_schedule(1)

# you can use this function to rename the teams
team_names = ["a", "b", "c", "d", "e"]
named_schedule = rr.utils.rename_teams_in_rounds(schedule, team_names)

list(named_schedule)

[(('d', 'b'), ('a', 'e')),
 (('a', 'c'), ('d', 'e')),
 (('e', 'b'), ('c', 'd')),
 (('a', 'd'), ('c', 'b')),
 (('c', 'e'), ('b', 'a'))]

In [6]:
random.seed(1)

# you can convert to dataframe
schedule = list(single_rr.get_full_schedule(2))
rr.utils.convert_list_of_rounds_to_dataframe(schedule, "tournament")

                        home  away
id         date number
tournament 0               3     1
           0               0     4
           1               0     2
           1               3     4
           2               4     1
           2               2     3
           3               0     3
           3               2     1
           4               2     4
           4               1     0
           5               0     3
           5               2     1
           6               3     1
           6               0     4
           7               2     4
           7               1     0
           8               4     1
           8               2     3
           9               0     2
           9               3     4

In [7]:
random.seed(1)

named_single_rr = rr.SingleRoundRobin.from_team_names(team_names=["a", "b", "c"])
list(named_single_rr.get_full_schedule(2))

[(('a', 'b'),),
 (('c', 'b'),),
 (('a', 'c'),),
 (('a', 'c'),),
 (('c', 'b'),),
 (('a', 'b'),)]

<h2>Double Round-Robin</h2>

> Each line is a round.

> All matches in a round have the same "date number"

In [8]:
random.seed(1)

double_rr = rr.DoubleRoundRobin.from_num_teams(num_teams=6)
double_rr

DoubleRoundRobin(num_teams=6, first_schedule=[((0, 2), (3, 1), (4, 5)), ((4, 0), (5, 3), (2, 1)), ((1, 0), (5, 2), (3, 4)), ((0, 5), (4, 1), (3, 2)), ((3, 0), (4, 2), (1, 5))], second_schedule=[((2, 0), (1, 3), (5, 4)), ((0, 4), (3, 5), (1, 2)), ((0, 1), (2, 5), (4, 3)), ((5, 0), (1, 4), (2, 3)), ((0, 3), (2, 4), (5, 1))])

In [9]:
random.seed(1)
list(double_rr.get_full_schedule(2))

[((1, 0), (5, 2), (3, 4)),
 ((0, 5), (4, 1), (3, 2)),
 ((3, 0), (4, 2), (1, 5)),
 ((0, 2), (3, 1), (4, 5)),
 ((4, 0), (5, 3), (2, 1)),
 ((2, 0), (1, 3), (5, 4)),
 ((0, 1), (2, 5), (4, 3)),
 ((0, 4), (3, 5), (1, 2)),
 ((0, 3), (2, 4), (5, 1)),
 ((5, 0), (1, 4), (2, 3)),
 ((1, 0), (5, 2), (3, 4)),
 ((0, 5), (4, 1), (3, 2)),
 ((3, 0), (4, 2), (1, 5)),
 ((0, 2), (3, 1), (4, 5)),
 ((4, 0), (5, 3), (2, 1)),
 ((0, 4), (3, 5), (1, 2)),
 ((2, 0), (1, 3), (5, 4)),
 ((0, 1), (2, 5), (4, 3)),
 ((0, 3), (2, 4), (5, 1)),
 ((5, 0), (1, 4), (2, 3))]

In [10]:
random.seed(1)

schedule = double_rr.get_full_schedule(1)

# you can use this function to rename the teams
team_names = ["a", "b", "c", "d", "e", "f"]
named_schedule = rr.utils.rename_teams_in_rounds(schedule, team_names)

list(named_schedule)

[(('b', 'a'), ('f', 'c'), ('d', 'e')),
 (('a', 'f'), ('e', 'b'), ('d', 'c')),
 (('d', 'a'), ('e', 'c'), ('b', 'f')),
 (('a', 'c'), ('d', 'b'), ('e', 'f')),
 (('e', 'a'), ('f', 'd'), ('c', 'b')),
 (('c', 'a'), ('b', 'd'), ('f', 'e')),
 (('a', 'b'), ('c', 'f'), ('e', 'd')),
 (('a', 'e'), ('d', 'f'), ('b', 'c')),
 (('a', 'd'), ('c', 'e'), ('f', 'b')),
 (('f', 'a'), ('b', 'e'), ('c', 'd'))]

In [11]:
random.seed(1)

rr.utils.convert_list_of_rounds_to_dataframe(double_rr.get_full_schedule(1), "tournament")

                        home  away
id         date number
tournament 0               1     0
           0               5     2
           0               3     4
           1               0     5
           1               4     1
           1               3     2
           2               3     0
           2               4     2
           2               1     5
           3               0     2
           3               3     1
           3               4     5
           4               4     0
           4               5     3
           4               2     1
           5               2     0
           5               1     3
           5               5     4
           6               0     1
           6               2     5
           6               4     3
           7               0     4
           7               3     5
           7               1     2
           8               0     3
           8               2     4
           8               5     1
           9               5     0
           9               1     4
           9               2     3

In [12]:
random.seed(1)

named_double_rr = rr.DoubleRoundRobin.from_team_names(team_names=["a", "b", "c", "d"])
list(named_double_rr.get_full_schedule(2))

[(('c', 'a'), ('b', 'd')),
 (('a', 'b'), ('d', 'c')),
 (('a', 'd'), ('c', 'b')),
 (('d', 'a'), ('b', 'c')),
 (('a', 'c'), ('d', 'b')),
 (('b', 'a'), ('c', 'd')),
 (('a', 'b'), ('d', 'c')),
 (('c', 'a'), ('b', 'd')),
 (('a', 'd'), ('c', 'b')),
 (('d', 'a'), ('b', 'c')),
 (('a', 'c'), ('d', 'b')),
 (('b', 'a'), ('c', 'd'))]